### Q1. Create a list of five integers and print it.

In [32]:
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

### Q2. Write a program to find the length of a list.

In [33]:
list = [1, 2, 3, 4, 5]
print(len(list))

5

### Q3. Create a tuple with three elements and print the second item.

In [34]:
my_tuple = (10, 20, 30)
print(my_tuple[1])

20

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [35]:
my_dict = {"a": 1, "b": 2, "c": 3}
print(my_dict.keys())

dict_keys(['a', 'b', 'c'])

### Q5. Write a program to convert a list into a set.

In [36]:
my_list = [1, 2, 2, 3, 4]
my_set = set(my_list)
print(my_set)

{1, 2, 3, 4}

### Q6. Create a string and print its first and last characters.

In [37]:
my_string = "Hello"
print(my_string[0], my_string[-1])

H o

### Q7. Take input from the user and print it.

In [38]:
user_input = input("Enter something: ")
print(user_input)

25

### Q8. Write a program to add two numbers entered by the user.

In [39]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
sum = num1 + num2
print("Sum is:", sum)

Sum is: 50

### Q9. Use `type()` function to check the data type of a variable.

In [40]:
my_var = 10
print(type(my_var))

<class 'int'>

### Q10. Create a boolean variable and print it.

In [41]:
my_bool = True
print(my_bool)

True

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [42]:
number = int(input("Enter a number: "))
if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

Positive

### Q12. Write a program to check if a number is even or odd.

In [43]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [44]:
for _ in range(3):
    print("YourName")

YourName
YourName
YourName

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [45]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [46]:
my_list = [10, 20, 30, 40, 50]
for item in my_list:
    print(item)

10
20
30
40
50

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [47]:
sum = 0
for num in range(1, 101):
    sum += num
    print("sum:", sum)

sum: 1
sum: 3
sum: 6
sum: 10
sum: 15
sum: 21
sum: 28
sum: 36
sum: 45
sum: 55
sum: 66
sum: 78
sum: 91
sum: 105
sum: 120
sum: 136
sum: 153
sum: 171
sum: 190
sum: 210
sum: 231
sum: 253
sum: 276
sum: 300
sum: 325
sum: 351
sum: 378
sum: 406
sum: 435
sum: 465
sum: 496
sum: 528
sum: 561
sum: 595
sum: 630
sum: 666
sum: 703
sum: 741
sum: 780
sum: 820
sum: 861
sum: 903
sum: 946
sum: 990
sum: 1035
sum: 1081
sum: 1128
sum: 1176
sum: 1225
sum: 1275
sum: 1326
sum: 1378
sum: 1431
sum: 1485
sum: 1540
sum: 1596
sum: 1653
sum: 1711
sum: 1770
sum: 1830
sum: 1891
sum: 1953
sum: 2016
sum: 2080
sum: 2145
sum: 2211
sum: 2278
sum: 2346
sum: 2415
sum: 2485
sum: 2556
sum: 2628
sum: 2701
sum: 2775
sum: 2850
sum: 2926
sum: 3003
sum: 3081
sum: 3160
sum: 3240
sum: 3321
sum: 3403
sum: 3486
sum: 3570
sum: 3655
sum: 3741
sum: 3828
sum: 3916
sum: 4005
sum: 4095
sum: 4186
sum: 4278
sum: 4371
sum: 4465
sum: 4560
sum: 4656
sum: 4753
sum: 4851
sum: 4950
sum: 5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [48]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [49]:
my_string = "Hello"
for char in my_string:
    print(char)

H
e
l
l
o

### Q19. Use a `for` loop to print all values in a dictionary.

In [50]:
my_dict = {"a": 1, "b": 2, "c": 3}
for key, value in my_dict.items():
    print(value)

1
2
3

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [51]:
num = 5
factorial = 1
for i in range(1, num + 1):
    factorial *= i
print(factorial)

120

### Q21. Create a list of your 5 favorite fruits.

In [52]:
fruits = ["Apple", "Banana", "Orange", "Mango", "Pineapple"]
print(fruits)

['Apple', 'Banana', 'Orange', 'Mango', 'Pineapple']

### Q22. Add a new fruit to your list of favorite fruits.

In [53]:
fruits = ["Apple", "Banana", "Orange", "Mango", "Pineapple"]
fruits.append("peach")
fruits

['Apple', 'Banana', 'Orange', 'Mango', 'Pineapple', 'peach']

### Q23. Remove the second item from a list.

In [54]:
fruits.pop(1)
print(fruits)

['Apple', 'Orange', 'Mango', 'Pineapple', 'peach']

### Q24. Sort a list of numbers in descending order.

In [55]:
numbers = [5, 1, 9, 3, 7]
numbers.sort(reverse=True)
print(numbers)

[9, 7, 5, 3, 1]

### Q25. Find the maximum and minimum values in a list.

In [56]:
numbers = [5, 1, 9, 3, 7]
max_value = max(numbers)
min_value = min(numbers)
print(f"Max: {max_value}, Min: {min_value}")

Max: 9, Min: 1

### Q26. Count how many times a value appears in a list.

In [57]:
numbers = [1, 2, 2, 3, 4, 2, 5]
count = numbers.count(2)
print(count)

3

### Q27. Check if a specific value exists in a list.

In [58]:
my_list = [1, 2, 3, 4, 5]
value_exists = 3 in my_list
print(value_exists)

True

### Q28. Reverse a list without using reverse() function.

In [59]:
my_list = [1, 2, 3, 4, 5]
reversed_list = my_list[::-1]
print(reversed_list)

[5, 4, 3, 2, 1]

### Q29. Make a copy of a list and modify the copy only.

In [60]:
original_list = [1, 2, 3]
copied_list = original_list.copy()
copied_list.append(4)
print("Original:", original_list)
print("Copied:", copied_list)

Original: [1, 2, 3]
Copied: [1, 2, 3, 4]

### Q30. Use slicing to get the first 3 items of a list.

In [61]:
my_list = [1, 2, 3, 4, 5]
first_three = my_list[:3]
print(first_three)

[1, 2, 3]

### Q31. Create a tuple with 4 elements and print its length.

In [62]:
my_tuple = (10, 20, 30, 40)
print(len(my_tuple))

4

### Q32. Access the last element of a tuple.

In [63]:
my_tuple = (10, 20, 30, 40)
print(my_tuple[-1])

40

### Q33. Convert a tuple into a list.

In [64]:
my_tuple = (10, 20, 30)
my_list = list(my_tuple)
print(my_list)

TypeError: 'list' object is not callable

### Q34. Convert a list into a tuple.

In [ ]:
my_list = [10, 20, 30]
my_tuple = tuple(my_list)
print(my_tuple)

### Q35. Check if a value exists in a tuple.

In [ ]:
my_tuple = (10, 20, 30)
print(20 in my_tuple)

### Q36. Concatenate two tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

### Q37. Repeat a tuple 3 times.

In [ ]:
my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
print(repeated_tuple)

### Q38. Find the index of an element in a tuple.

In [ ]:
my_tuple = (10, 20, 30, 40)
index = my_tuple.index(30)
print(index)

### Q39. Use tuple unpacking to assign values to variables.

In [ ]:
my_tuple = (1, 2, 3)
a, b, c = my_tuple
print(a, b, c)

### Q40. Create a nested list and access an inner element.

In [ ]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
inner_element = nested_list[1][2]
print(inner_element)

### Q41. Create a set of 5 unique colors.

In [ ]:
colors = {"Red", "Blue", "Green", "Yellow", "Purple"}
print(colors)

### Q42. Add a new color to the set.

In [ ]:
colors.add("Orange")
print(colors)

### Q43. Remove an item from the set using `remove()`.

In [ ]:
colors.remove("Green")
print(colors)

### Q44. Use `discard()` to remove an item that may or may not exist.

In [ ]:
colors.discard("Pink") 
print(colors)

### Q45. Create a set from a list with duplicate values.

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
my_set = set(my_list)
print(my_set)

### Q46. Find the union of two sets.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union = set1 | set2
print(union)

### Q47. Find the intersection of two sets.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection = set1 & set2
print(intersection)

{3}

### Q48. Find the difference between two sets.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference = set1 - set2
print(difference)

### Q49. Check if a set is a subset of another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
is_subset = set1.issubset(set2)
print(is_subset)

### Q50. Check if two sets are disjoint.

In [ ]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
are_disjoint = set1.isdisjoint(set2)
print(are_disjoint)

### Q51. Create a dictionary with 3 items: name, age, and city.

In [ ]:
person = {"name": "John", "age": 30, "city": "New York"}
print(person)

### Q52. Add a new key-value pair to the dictionary.

In [ ]:
person["job"] = "Engineer"
print(person)

### Q53. Update the value of an existing key in the dictionary.

In [ ]:
person["age"] = 31
print(person)

### Q54. Remove a key from the dictionary using `pop()`.

In [ ]:
person = {"name": "John", "age": 30, "city": "New York"}
person.pop("age")
print(person)

### Q55. Check if a key exists in the dictionary.

In [ ]:
person = {"name": "John", "age": 30, "city": "New York"}
key_exists = "name" in person
print(key_exists)

### Q56. Loop through a dictionary and print all keys and values.

In [ ]:
person = {"name": "John", "age": 30, "city": "New York"}
for key, value in person.items():
    print(f"{key}: {value}")

### Q57. Get all keys from a dictionary using `keys()`.

In [ ]:
person = {"name": "John", "age": 30, "city": "New York"}
keys = person.keys()
print(keys)

### Q58. Get all values from a dictionary using `values()`.

In [ ]:
person = {"name": "John", "age": 30, "city": "New York"}
values = person.values()
print(values)

### Q59. Get all key-value pairs using `items()`.

In [ ]:
person = {"name": "John", "age": 30, "city": "New York"}
items = person.items()
print(items)

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [ ]:
keys = ['name', 'age', 'city']
values = ['John', 30, 'New York']
person = (dict(zip(keys, values)))
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}